<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      HashesJMI
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <a href="alumni" target="_blank">Alumni</a>
    <a href="blog" target="_blank">Blog</a>
    <a href="joinus" target="_blank">JoinUS</a>
    <a href="projects" target="_blank">Projects</a>
    <a href="team" target="_blank">Team</a>
  </div>
</div>
