<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="hackJMI" src="{{ "/assets/img/hackJMI.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hack_JMI </h3>
    <ul>
      <li> Andoid Web blochain ML</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://github.com/hashes-jmi/hack-jmi">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="JMI_robotics" src="{{ "/assets/img/jmirobotics.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> JMI_Robotics</h3>
    <ul>
      <li> PHP Javascript </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="jmirobotics.co.in">Check it out</a>
  </div>
</div>
