<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Faisal Manzer",
      "url": "https://www.faisal-manzer.in",
      "sameAs": [
        "https://github.com/Faisal-Manzer",
        "https://www.facebook.com/i.faisal.manzer",
        "https://instagram.com/faisal_manzer",
        "https://www.linkedin.com/in/faisal-manzer-a543b3151"
      ],
      "image": "https://www.faisal-manzer.in/images/faisal-manzer.jpeg",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+91-9097718815",
        "contactType": "technical support"
      }]
    }
</script>
