---
layout: default
---
{% include author.html username=page.username %}
<section id="projects" style="overflow: scroll">
  <div class="user-projects">
    <div class="contents-{{positionc}}">
      <h1 style="margin: 0;">{{page.title}}</h1>
        <h3 style="margin: 0;color: #555555;">Author: <a href="{{site.baseurl}}/blog/{{page.username}}/" style="text-decoration: none; color: black;"><strong>{{author.name}}</strong></a></h3>
      {% if page.edit-date %}
        <h3 style="margin: 0; padding: 0; color: #555555">Last Modified: <strong>{{page.edit-date}}</strong></h3>
      {% endif %}
      {% include social-links.html links=author.links %}
      <hr />
      <p>
        {{content | markdownify}}
      </p>
      {% include comments.html %}
    </div>
  </div>
</section>
