<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  {% if page.css %}
      {% for css in page.css %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}.css">
      {% endfor %}
    {% endif %}

    <!-- SEO section -->
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    {% include google_analytics.html %}
    <!-- favicon -->
    {% include icons.html %}

  </head>
  <body>
    {% unless page.noheader %}
      <header>
      <div class="brand-logo">
        <h1 class="title blue-grey-light-5">
          <a href="{{site.baseurl}}/">
            Hashes_JMI
          </a>
        </h1>
      </div>
        <div class="hide-s hide-m">
          {% include nav-links.html %}
      </div>
      </header>
    {% endunless %}
    <!-- Content -->
    <div id="sidenav-overlay"></div>
    <div id="sidenav-btn" class="l0">
      <div class="sidenav-btn-bar-1"></div>
      <div class="sidenav-btn-bar-2"></div>
      <div class="sidenav-btn-bar-3"></div>
    </div>
    <nav>
      {% include nav-links.html %}
    </nav>
    <main>
      {{content}}
    </main>
<footer class="footer">
  <p>&copy; Hashes_JMI</p>
  <p>Build <span class="love">❤</span> by <a href="https://github.com/hashes-jmi">Team Hashes</a></p>
</footer>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/sidenav.js">

</script>
    {% if page.js %}
      {% for js in page.js %}
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/{{js}}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
