<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if page.css %}
      {% for css in page.css %}
        <link rel="stylesheet" href="{{page.baseurl}}/assets/css/{{css}}.css">
      {% endfor %}
    {% endif %}

    <!-- SEO section -->
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    {% include google_analytics.html %}
    <!-- favicon -->
    {% include icons.html %}

  </head>
  <body>
    {% unless page.noheader %}
      <header>
      <div class="brand-logo">
        <h1 class="title blue-grey-light-5">
          <a href="{{site.baseurl}}/">
            Hashes_JMI
          </a>
        </h1>
      </div>
        <div class="hide-s hide-m">
          <ul>
            <li><a href="{{site.baseurl}}">About</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="/#projects">Blog</a></li>
            <li><a href="/#education">Join US</a></li>
            <li><a href="https://goo.gl/forms/5iM7HutW43NkZRN53" target="_blank">Sponsors</a></li>
            <li><a href="#contact">Alumni</a></li>
            <li><a href="/gallery" class="external">Team</a></li>
          </ul>
      </div>
      </header>
    {% endunless %}
    <!-- Content -->
    <main>
      {{content}}
    </main>
<footer class="footer">
  <p>&copy; Hashes_JMI</p>
  <p>Build <span class="love">❤</span> by <a href="https://github.com/hashes-jmi">Team Hashes</a></p>
</footer>
    {% if page.js %}
      {% for js in page.js %}
        <script type="text/javascript" src="{{page.baseurl}}/assets/js/{{js}}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
