---
layout: default
---
<section id="projects">
        <div class="user-details">
  <h1>{{page.header}}</h1>
</div>
{% assign position="right" %}
{% assign positionc="left" %}
{% assign persons=site.data[page.data] %}
{% for person in persons %}
  <div class="user-projects">
    <div class="images-{{position}}">
      <img alt="hackJMI" src="{{site.baseurl}}/assets/images/{{page.data}}/{{person.image}}" />
    </div>
    <div class="contents-{{positionc}}">
      <h3>{{person.name}}</h3>
      {{person.position}}
      <p>
        {{person.about}}
      </p>
      {% include social-links.html links=person.links %}
    </div>
  </div>
  {% if position=="right" %}
    {% assign position="left" %}
    {% assign positionc="right" %}
  {% elsif position=="left" %}
    {% assign position="right" %}
    {% assign positionc="left" %}
  {% endif %}
{% endfor %}
</section>
